/* stylelint-disable selector-class-pattern */
.DocSearch-Container {
  width: var(--inner-width) !important;
  height: var(--inner-height) !important;
}

@media (width <= 768px) {
  body {
    &.DocSearch--active {
      #app {
        height: 0;
        overflow: hidden;
      }

      .DocSearch-Container {
        position: static !important;
      }
    }
  }

  .DocSearch-Modal {
    width: 100% !important;
    height: 100% !important;
  }
}
