@import './vars.css';
@import './tailwindcss.css';
@import './keyframes.css';
@import './docContent/index.css';
@import './naive_ui_reset.css';

body {
  --sider-width: 300px;

  overflow: hidden;

  /* isMobile */
  @media only screen and (width <= 639px) {
    overflow: visible;
  }
}

/* TODO */
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
