@import "./font.css";
@import "./vars.css";
@import "./tailwindcss.css";

body {
  overflow: hidden;

  --header-height: 64px;

  /* isMobile */
  @media only screen and (width <= 639px) {
    overflow: visible;
  }
}
