:root {
  --font-family-others: 'JetBrainsMonoMedium';
  --font-family-semi-bold-others: 'JetBrainsMonoSemiBold';
  --font-family-zh: 'SmileySans-Oblique';
  /* tailwindcss 使用的两种字体 */
  --default-mono-font-family: var(--font-family-semi-bold-others), var(--font-family-zh);
  --default-font-family: var(--default-mono-font-family);

  @media screen and (width <= 480px) {
    --default-mono-font-family: var(--font-family-others), var(--font-family-zh);
  }
}
