:root {
  --font-family-others: 'JetBrainsMonoMedium';
  --font-family-semi-bold-others: 'JetBrainsMonoSemiBold';
  --font-family-zh: 'SmileySans-Oblique';

  /* tailwindcss 使用的两种字体 */
  --default-mono-font-family: var(--font-family-semi-bold-others), var(--font-family-zh);
  --default-font-family: var(--default-mono-font-family);

  @media screen and (width <= 480px) {
    --default-mono-font-family: var(--font-family-others), var(--font-family-zh);
  }

  --vp-c-gray-1: #dddde3;
  --vp-c-gray-2: #e4e4e9;
  --vp-c-gray-3: #ebebef;
  --vp-c-gray-soft: rgb(142 150 170 / 14%);
  --vp-c-indigo-1: #3451b2;
  --vp-c-indigo-2: #3a5ccc;
  --vp-c-indigo-3: #5672cd;
  --vp-c-indigo-soft: rgb(100 108 255 / 14%);
  --vp-c-purple-1: #6f42c1;
  --vp-c-purple-2: #7e4cc9;
  --vp-c-purple-3: #8e5cd9;
  --vp-c-purple-soft: rgb(159 122 234 / 14%);
  --vp-c-green-1: #18794e;
  --vp-c-green-2: #299764;
  --vp-c-green-3: #30a46c;
  --vp-c-green-soft: rgb(16 185 129 / 14%);
  --vp-c-yellow-1: #915930;
  --vp-c-yellow-2: #946300;
  --vp-c-yellow-3: #9f6a00;
  --vp-c-yellow-soft: rgb(234 179 8 / 14%);
  --vp-c-red-1: #b8272c;
  --vp-c-red-2: #d5393e;
  --vp-c-red-3: #e0575b;
  --vp-c-red-soft: rgb(244 63 94 / 14%);
  --vp-c-sponsor: #db2777;
  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;
  --vp-c-text-1: rgb(60 60 67);
  --vp-c-text-2: rgb(60 60 67 / 78%);
  --vp-c-text-3: rgb(60 60 67 / 56%);
}

.dark {
  --vp-c-gray-1: #515c67;
  --vp-c-gray-2: #414853;
  --vp-c-gray-3: #32363f;
  --vp-c-gray-soft: rgb(101 117 133 / 16%);
  --vp-c-indigo-1: #a8b1ff;
  --vp-c-indigo-2: #5c73e7;
  --vp-c-indigo-3: #3e63dd;
  --vp-c-indigo-soft: rgb(100 108 255 / 16%);
  --vp-c-purple-1: #c8abfa;
  --vp-c-purple-2: #a879e6;
  --vp-c-purple-3: #8e5cd9;
  --vp-c-purple-soft: rgb(159 122 234 / 16%);
  --vp-c-green-1: #3dd68c;
  --vp-c-green-2: #30a46c;
  --vp-c-green-3: #298459;
  --vp-c-green-soft: rgb(16 185 129 / 16%);
  --vp-c-yellow-1: #f9b44e;
  --vp-c-yellow-2: #da8b17;
  --vp-c-yellow-3: #a46a0a;
  --vp-c-yellow-soft: rgb(234 179 8 / 16%);
  --vp-c-red-1: #f66f81;
  --vp-c-red-2: #f14158;
  --vp-c-red-3: #b62a3c;
  --vp-c-red-soft: rgb(244 63 94 / 16%);
  --vp-c-border: #3c3f44;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #000;
  --vp-c-text-1: rgb(255 255 245 / 86%);
  --vp-c-text-2: rgb(235 235 245 / 60%);
  --vp-c-text-3: rgb(235 235 245 / 38%);
}
