/* stylelint-disable selector-class-pattern */
@import './fence_card.css';
@import 'vitepress/dist/client/theme-default/styles/components/vp-code.css';

.fence_card:not(.details_container_card .fence_card, .code_group_card .fence_card),
.details_container_card,
.n-alert {
  @apply my-4;
}

.details_container_card {
  .fence_card {
    width: auto !important;
    margin: 0 -13px -13px;
    border-top: 1px solid var(--vp-c-gutter);

    pre,
    .line-numbers-wrapper {
      @apply pt-2 pb-3;
    }
  }
}

.code_group_card {
  .n-tabs {
    --n-pane-padding-top: 0;
  }

  .n-tab-pane:not(:has(.fence_card)) {
    @apply py-5 px-4;
  }

  .n-tabs-scroll-padding {
    width: var(--spacing-4) !important;
  }
}

ol, ul, menu{
  list-style: initial;
}

.n-alert--show-icon{
  .n-alert-body__content {
    > .n-ol, > .n-ul {
      padding-left: 0;
    }
  }
}
