/* stylelint-disable selector-class-pattern */
@import './fence_card.css';
@import 'vitepress/dist/client/theme-default/styles/components/vp-code.css';

.fence_card:not(.details_container_card .fence_card, .code_group_card .fence_card),
.details_container_card {
  @apply my-4;
}

.details_container_card {
  .fence_card {
    width: auto !important;
    margin: 0 -13px -13px;
    border-top: 1px solid var(--vp-c-gutter);

    pre,
    .line-numbers-wrapper {
      @apply pt-2 pb-3;
    }
  }
}

.code_group_card {
  .n-tabs {
    --n-pane-padding-top: 0;
  }

  .n-tab-pane:not(:has(.fence_card)) {
    @apply px-4 py-5;
  }

  .n-tabs-scroll-padding {
    width: var(--spacing-4) !important;
  }
}

.VPDoc {
  .n-h2,
  .n-h3 {
    @apply !mt-0 !pt-7;
  }

  .n-alert {
    @apply my-4;
  }
}

.n-ol,
.n-ul {
  list-style: initial;
}

.n-alert--show-icon {
  .n-alert-body__content {
    > .n-ol,
    > .n-ul {
      padding-left: 0;
    }
  }
}

.site_anchor {
  .n-anchor-link-background,
  .n-anchor-rail__bar {
    height: 26px !important;
    border-radius: inherit !important;
    transform: translateY(-3px);
  }
}
