/* stylelint-disable selector-class-pattern */
@import './fence_card.css';
@import 'vitepress/dist/client/theme-default/styles/components/vp-code.css';

.fence_card:not(.details_container_card .fence_card, .code_group_card .fence_card, .demo_fence_modal .fence_card, .demo_fence_collapse .fence_card),
.details_container_card,
.demo_wrapper_card {
  @apply my-6;

  @media only screen and (width <= 639px) {
    @apply my-3;
  }
}

@media only screen and (width <= 639px) {
  .fence_card:not(.demo_fence_collapse .fence_card, .n-tab-pane .fence_card) {
    @apply -mx-3 !w-auto;
  }
}

.details_container_card {
  .fence_card {
    width: auto !important;
    margin: 0 -13px -13px;
    border-top: 1px solid var(--vp-c-gutter);

    pre,
    .line-numbers-wrapper {
      @apply pt-2 pb-3;
    }
  }
}

.code_group_card {
  .n-tabs {
    --n-pane-padding-top: 0;
  }

  .n-tab-pane:not(:has(.fence_card)) {
    @apply px-4 py-5;
  }

  .n-tabs-scroll-padding {
    width: var(--spacing-4) !important;
  }
}

.VPDoc {
  .n-h2,
  .n-h3 {
    @apply !mt-0 !pt-7;
  }

  *:has(+ .n-h2, + .n-h3) {
    @apply !mb-0;
  }

  .n-h1 {
    @apply pt-8;

    @media only screen and (width <= 639px) {
      @apply pt-3;
    }

    margin-bottom: 0;

    + .n-divider {
      display: none;
    }
  }

  .n-alert {
    @apply my-4;

    .n-alert-body .n-alert-body__title + .n-alert-body__content {
      @apply !mt-4;
    }
  }

  /* https://web.dev/articles/css-marker-pseudo-element?hl=zh-cn */
  .n-ol {
    list-style: decimal;

    li::marker {
      content: counter(list-item) '】';
    }
  }

  .n-ul {
    list-style: disc;

    li::marker {
      content: '●〕';
    }
  }

  .n-p {
    @apply !my-2.5;

    &:first-child {
      @apply !mt-0;
    }

    &:last-child {
      @apply !mb-0;
    }

    li > & {
      @apply !m-0;
    }
  }
}

.n-alert--show-icon {
  .n-alert-body {
    padding-left: var(--n-padding) !important;
  }

  .n-alert-body__title {
    padding-left: calc(var(--n-icon-margin-left) + var(--n-icon-size) + var(--n-icon-margin-right) - var(--n-padding));
  }
}

.site_anchor {
  .n-anchor-link-background,
  .n-anchor-rail__bar {
    height: 27.5px !important;
    border-radius: inherit !important;
  }

  .n-anchor-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;

    .n-anchor-link__title {
      padding: var(--n-link-padding);
      padding-left: 0 !important;
    }
  }
}
