/* stylelint-disable selector-class-pattern */
@import './language.css';

.vp_doc {
  .fence_card:not(.details_container_card .fence_card),
  .details_container_card,
  .n-alert {
    @apply my-8;
  }

  .details_container_card {
    .fence_card {
      width: auto !important;
      margin: 0 -13px -13px;
      border-top: 1px solid var(--vp-c-gutter);

      [class*='language-'] pre,
      .line-numbers-wrapper {
        @apply pt-0 pb-3;
      }
    }
  }
}
