/* stylelint-disable selector-class-pattern */
.vp_doc [class*='language-'] pre,
.vp_doc [class*='language-'] code {
  hyphens: none;

  /* rtl:ignore */
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;
  word-spacing: normal;

  /* rtl:ignore */
  direction: ltr;
}

.vp_doc [class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;

  @apply py-5;

  background: transparent;
}

.vp_doc [class*='language-'] code {
  display: block;

  @apply px-6;

  width: fit-content;
  min-width: 100%;
  transition: color 0.5s;

  & .highlighted {
    display: inline-block;
    width: calc(100% + 2 * var(--spacing-6));
    background-color: var(--vp-c-gray-soft);
    transition: background-color 0.5s;

    @apply -mx-6;
    @apply px-6;

    &.error {
      background-color: var(--vp-c-red-soft);
    }

    &.warning {
      background-color: var(--vp-c-yellow-soft);
    }
  }

  & .diff {
    display: inline-block;
    width: calc(100% + 2 * var(--spacing-6));
    transition: background-color 0.5s;

    @apply -mx-6;
    @apply px-6;

    &::before {
      position: absolute;
      left: var(--spacing-2);
    }
  }
}

.vp_doc [class*='language-'] .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.7;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.vp_doc [class*='language-']:hover .has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

.vp_doc [class*='language-'] code .diff.remove {
  background-color: var(--vp-c-red-soft);
  opacity: 0.7;

  &::before {
    color: var(--vp-c-red-1);
    content: '-';
  }
}

.vp_doc [class*='language-'] code .diff.add {
  background-color: var(--vp-c-green-soft);

  &::before {
    color: var(--vp-c-green-1);
    content: '+';
  }
}

.vp_doc div[class*='language-'].line-numbers-mode {
  /* rtl:ignore */
  padding-left: 2rem;
}

.vp_doc .line-numbers-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;

  /* rtl:ignore */
  left: 0;
  z-index: 3;
  width: 2rem;
  color: var(--vp-c-text-3);
  text-align: center;
  background-color: var(--n-color-embedded);

  /* rtl:ignore */
  border-right: 1px solid var(--vp-c-gutter);
  transition:
    border-color 0.5s,
    color 0.5s;

  @apply pt-5;
}

.vp_doc [class*='language-'] > span.lang {
  position: absolute;
  top: 0.5rem;

  /* rtl:ignore */
  right: 1rem;
  z-index: 2;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--vp-c-text-3);
  user-select: none;
  transition:
    color 0.4s,
    opacity 0.4s;
}
